[submodule "Prism/Vendor/spdlog"]
	path = Prism/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Prism/vendor/GLFW"]
	path = Prism/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Prism/vendor/imgui"]
	path = Prism/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Prism/vendor/glm"]
	path = Prism/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Prism/vendor/yaml-cpp"]
	path = Prism/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Prism/vendor/ImGuizmo"]
	path = Prism/vendor/ImGuizmo
	url = https://github.com/thecherno/ImGuizmo
