[submodule "Prism/Vendor/spdlog"]
	path = Prism/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Prism/vendor/GLFW"]
	path = Prism/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Prism/vendor/imgui"]
	path = Prism/vendor/imgui
	url = https://github.com/ocornut/imgui
